*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bgc-dark: #181719;
  --bgc-light: #2c1e42;
  --bgc-lighter: #6e34ac;
  --text-clr-light: #ccd6f6;
  --text-clr-lighter: #a8b2d1;
  --highlighter: #d8e99b;
  --font-main: 'Ubuntu', sans-serif;
  --font-hlg: 'Roboto Mono', monospace;
  --font-logo: 'Silkscreen', cursive;
}

body {
  background-color: var(--bgc-dark);
  color: var(--text-clr-lighter);
  font-family: var(--font-main);
}

a,
ul {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

h1,
ul {
  font-family: var(--font-hlg);
  color: var(--text-clr-light);
}

.nav-logo {
  background: url('./assets/images/profile.webp') center / cover no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-logo span {
  font-family: var(--font-logo);
  font-size: 2rem;
}

.container-1 {
  width: 88%;
  margin: 0 auto;
}

.container-2 {
  width: 70%;
  margin: 0 auto;
}

img {
  width: 100%;
}

/*---------- Hero text area --------------- */

.hero {
  margin: 2em 0;
  padding: 3em 0;
}

.hero-area span {
  color: var(--highlighter);
  font-size: 1.2rem;
  transition: transform 0.3s ease-out;
}

.hero-area h1 {
  font-size: 3rem;
  margin: 0.5rem 0 0.6rem 0;
  transition: transform 0.3s ease-out;
}

.hero-area h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  transition: transform 0.3s ease-out;
}

.hero-area p {
  font-size: 1rem;
  line-height: 2rem;
}

.hero-area h1:hover,
.hero-area h2:hover {
  transform: translateX(4px);
}
/* -----Link area--------  */

.link-area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.5em 0;
}

.btn {
  font-family: var(--font-hlg);
  font-size: 1rem;
  background: none;
  border: 1px solid var(--highlighter);
  margin: 0;
  padding: 1rem;
  color: var(--text-clr-light);
}

.find-me-btn {
  font-size: 1rem;
  color: bar(--text-clr-light);
  background: linear-gradient(to right, var(--bgc-dark) 0%, var(--highlighter) 100%);
  background-size: 300% 100%;
  background-position: left bottom;
  transition: all .6s ease;
}

.find-me-btn:hover {
  cursor: pointer;
  color: black;
  border: none;
  background-position: right bottom;
}

.find-me-links {
  align-self: center;
  font-family: var(--font-main);
}

.find-me-link {
  font-size: 1.5rem;
  margin: 1rem;
}

.designation {
  display: inline;
  position: relative;
  font-size: 0.8rem;
  top: -10px;
  left: 60px;
  opacity: 60%;
}

/* ------------nav---------------- */
nav {
  background-color: var(--bgc-light);
  padding: 1em 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.toggle-button {
  height: 25px;
  width: 25px;
  background-color: var(--bgc-light);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 25px;
  right: 20px;
}

.toggle-bar {
  height: 2.5px;
  width: 100%;
  background-color: white;
}

.nav-list {
  display: none;
  height: 100vh;
  color: white;
  transition: display 0.3s ease-out;
}

.nav-list li {
  margin: 2em 0;
}

.nav-item {
  display: block;
  color: white;
  letter-spacing: 1.5px;
  transition: border-bottom 0.3s ease-out;
  border-bottom: 3px solid var(--bgc-light);
}

.btn-resume .nav-item {
  color: inherit;
  font-weight: 600;
  border-bottom: 3px solid var(--highlighter);
}

.nav-item:hover {
  border-bottom: 3px solid var(--highlighter);
}

.nav-list.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-resume {
  background-color: var(--highlighter);
  color: var(--bgc-dark);
}
.btn-resume:hover {
  background-color: #cede8f;
}

@media (min-width: 800px) {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  nav {
    padding: 0;
  }
  .toggle-button {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .nav-item {
    margin-left: 2em;
  }

  .btn .nav-item {
    margin-left: 0;
  }

  .btn-resume {
    margin-left: 2em;
    padding: 0.5rem 1rem;
  }

  .hero-area {
    box-shadow: -4px 0 var(--bgc-light);
    padding: 2em;
    transition: all 0.3s ease-out;
  }
  .hero-area:hover {
    box-shadow: -3px 3px var(--highlighter);
    transform: translate(5px, -5px);
  }

  .link-area {
    flex-direction: row;
    justify-content: space-between;
  }

  .find-me-links {
    margin-right: 1rem;
    cursor: pointer;
  }
}
