img {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.container-1 {
  width: 88%;
  margin: 0 auto;
}

.container-2 {
  width: 88%;
  margin: 0 auto;
}

.hero{
    margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

/* ------------Project containers---------------- */
.project-title {
  color: var(--text-clr-light);
  font-family: var(--font--hlg);
  letter-spacing: 2px;
}

h3{
    font-family: var(--font--hlg);
}

p{
    line-height: 1.4rem;
}


.item {
  border: 1px solid var(--bgc-light);
  box-shadow: -3px 0 var(--bgc-lighter);
  padding: 2em;
  transition: all 0.3s ease-out;
  padding: 20px;
}
.item:hover {
  border: 1px solid var(--highlighter);
  box-shadow: -3px 3px var(--highlighter);
  transform: translate(5px, -5px);
}

.featured,
.apps,
.responsive {
  margin: 2.5rem 0;
}

.featured-item-img,
.apps-item-img,
.responsive-item-img {
  position: relative;
  width: 100%;
  /* background: url('https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8d2Vic2l0ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60'); */
  background-size: cover;
  transition:  .3s;
}

/* .featured-item-img:hover::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
      background-color: rgba(216, 233, 155, 0.2);
} */

.featured-item-info,
.apps-item-info,
.responsive-item-info {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  margin: 2rem 1rem 2rem 0;
  padding: 20px;
  
  z-index: 1;
  color: white;
  background-color: rgba(44, 30, 66, 0.8);
  backdrop-filter: blur(1px);
  transition: background-color .3s ease-out;
  cursor: pointer;
}

.featured-item-info:hover,
.apps-item-info:hover,
.responsive-item-info:hover {
    background-color: rgba(216, 233, 155, 1);
    color: black;
}

.featured-item-info-tech,
.apps-item-info-tech,
.responsive-item-info-tech {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ext-link{
   margin-left: auto;
}


.featured-item-info-tech img,
.apps-item-info-tech img,
.responsive-item-info-tech img,
.fa-brands {
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
}

/* ------------Media Queries---------------------  */

@media (min-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, minmax(50%, 1fr));
  }

  .featured-item-info,
  .apps-item-info,
  .responsive-item-info  {
    width: 80%;
  }

  .flex-row {
    flex-direction: row;
  }
}
